* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

body * {
    font-family: 'Inter', sans-serif;
    color: white;
    line-height: 160%;
}

/* HEADER */
header {
    background-color: #6f2dbd;
}

header div {
    margin: auto;
    width: 120px;
    height: 100px;

}

.avatar {
    background-image: linear-gradient(90deg, #E2D45C 0%, #00f5d4 50.52%, #2892d7 100%);
    padding: 4px;
}

header div img {
    width: 100%;
    border-radius: 50%;
    margin-top: 30px;
}

header div a {
    text-decoration: none;
    margin-right: 13px;
}

#div-container-logo-networks{
    width: 100px;
    margin: auto;
    margin-top: 36px;
    display: flex;
}

#icon-git {
    width: 45px;
    border-radius: 10px;
    background-color: white;
    border: 0.5px solid white;
}

#icon-linkedin {
    width: 45px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e5e5e5;
}

/* MAIN */
main {
    max-width: 700px;

    margin: 32px auto;
}

ul { 
    list-style: none;
}

section {
    background-image: linear-gradient(90deg, #E2D45C 0%, #00f5d4 50.52%, #2892d7 100%);
    border-radius: 10px;
    padding-top: 5px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
    margin-bottom: 24px;
}

section p {
    color: #A1A1AA;
}

section div img {
    width: 70px;
}

section div ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-top: 24px;
}

.project-dsmeta {
    width: 180px;
    border: 1px solid #202024;
}

.nlw-esports {
    width: 190px;
    border: 1px solid #202024;
}

.em-breve {
    width: 180px;
    border: 1px solid white;
}

/* FOOTER */
footer div {
    width: 100%;
    background-color: #202024;
    display: block;
    text-align: center;
    margin-top: 60px;
    padding-bottom: 40px; 
    padding-top: 20px;
}

.footer-a {
    text-decoration: none;
}

/* ANIMATION */